# OS / shell / tooling
.bash_history
.gemini/
.npm/
*.log

# Python
__pycache__/
*.pyc
.venv/
.env

# Terraform
.terraform/
*.tfstate*
crash.log

# Docker
*.log

# Node
node_modules/
.terraform.lock.hcl
.terraform/
infra/environments/dev/terraform.tfvars
